<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- for ConfigurationValueExportProvider tests -->
    <add key="some_int" value="42"/>
    <add key="some_string" value="hello"/>
    <add key="some_date" value="9/27/1953"/>
    <add key="some_bool" value="true"/>
    <!-- for Settings tests -->
    <add key="LogDbConnection" value="{&quot;ConnectionString&quot;:&quot;Data Source=(localdb)\\v11.0; Integrated Security=True; MultipleActiveResultSets=True&quot;}"/>
    <add key="AbstractSettings" value="DerivedFromAbstractSettings"/>
    <add key="DerivedFromAbstractSettings" value="{&quot;Value&quot;:&quot;found me!&quot;}"/>
    <add key="Its.Configuration.Settings.Precedence" value="test|production"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
